#nomeCliente {
    max-width: 300px;
}

#numeroMesa {
    max-width: 300px;
}

.bola {
    background-color: deeppink;
}

.card {
    height: auto; /* Deixe a altura automática para acomodar o conteúdo */
    width: 180px; /* Ajuste a largura do card conforme necessário */
    margin: 10px; /* Centraliza o card dentro da coluna */
    display: flex;
    flex-direction: column; /* Alinha o conteúdo verticalmente */
}

.card-body {
    display: flex; /* Usar flexbox para o corpo do card */
    flex-direction: column; /* Direção vertical */
    justify-content: space-between; /* Espalha o conteúdo */
    flex-grow: 1; /* Faz o card-body ocupar o espaço disponível */
    padding: 10px;
}

.card-title {
    font-size: 1.25rem; /* Tamanho da fonte do título */
}

.card-text {
    font-size: 1rem; /* Tamanho da fonte do texto */
}

@media (max-width: 576px) { /* Para telas pequenas */
    .carousel-item {
        display: flex;
        justify-content: center;
    }

    .card-title {
        font-size: 0.7rem; /* Tamanho da fonte do título reduzido */
    }

    .card-text {
        font-size: 0.7rem; /* Tamanho da fonte do texto reduzido */
    }

    .btn {
        font-size: 0.1rem; /* Tamanho do botão reduzido */
    }

    .card {
        height: 300px; /* Deixa a altura automática para evitar sobreposição */
        width: 100px; /* Ocupa toda a largura disponível */
        max-width: 180px; /* Ajusta a largura máxima do card */
        margin: 5px; /* Reduz a margem entre os cartões */
    }

    #boti{
        font-size: 9.5px;
    }
}

